<template>
    <div class="left_padded">
        <div class="columns">
            <div class="column is-two-thirds">
                <p class="bd-notification q_a">{{question}}</p>
            </div>
            <div class="column is-one-thirds left_padded">
                <button class="button is-success is-medium" :disabled="button_disabled">Show Answer</button>
            </div>
        </div>
        <div class="column is-two-thirds">
            <p class="bd-notification q_a">{{hide_answer == true ? this.hidden_placeholder : answer}}</p>
        </div>
        <div class="column is-two-thirds control ">
            <input class="input" type="text" placeholder="Text input">
        </div>
    </div>

</template>

<script>

export default{
    props: ["question", "answer", "hide_answer"],
    data: function () {
        return {
            hidden_placeholder: "Type you answer and click Show Answer button"
        }
    },
    methods: {

    },
    computed: {
        button_disabled: function () {
            return this.hide_answer === true ? "disabled" : false
        },
        q_and_a: function () {
            var quiz_token = this.$route.params.token;
            this.$store.getters.find_question_answer_by_id(quiz_token, this.id);
        }
    }
}
</script>


<style scoped>
    .q_a{
        background-color: #209cee;
        color: #fff;
        padding: 11px;
    }
    .column{
        padding: 0 0 5px 0;
    }
    .columns:not(:last-child){
        margin: 25px 0 0 0;
    }
    .left_padded{
        padding-left: 10px;
    }
</style>
