<template xmlns="http://www.w3.org/1999/html">
  <div>
    <div v-for="q_and_a in get_quiz.question_answers">
      <qa :question="q_and_a.question"
          :answer="q_and_a.answer"
          :hide_answer="q_and_a.hide_answer">
      </qa>
    </div>
  </div>


</template>

<script>
  import QuestionAnswer from "../components/qa.vue"

  export default {
    computed: {
      get_quiz: function () {
        var a  = this.$store.getters.find_quiz_by_token(this.$route.params.token);
        console.log(a);
        return a;
      }
    },
    components: {"qa":QuestionAnswer}
  }
</script>


<style scoped>

</style>
