<%= form_with(model: question_answer, local: true) do |form| %>
  <% if question_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_answer.errors.count, "error") %> prohibited this question_answer from being saved:</h2>

      <ul>
      <% question_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :hide_answer %>
    <%= form.check_box :hide_answer %>
  </div>

  <div class="field">
    <%= form.label :quiz_id %>
    <%= form.text_field :quiz_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
