<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_answer.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question_answer.answer %>
</p>

<p>
  <strong>Hide answer:</strong>
  <%= @question_answer.hide_answer %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @question_answer.quiz %>
</p>

<%= link_to 'Edit', edit_question_answer_path(@question_answer) %> |
<%= link_to 'Back', question_answers_path %>
